# Base de datos PostgreSQL
PGHOST=localhost
PGPORT=5432
PGDATABASE=acciparte
PGUSER=postgres
PGPASSWORD=postgres

# JWT
JWT_SECRET=874ed8fa0e706a5fbcd5e9c0503b3379ae5b9fd91c8c0b54e1db5243377b8e68589ce40d436a1ed93520fe7649c5ab17;

JWT_EXPIRES_IN=8h

# API
PORT=3001
CORS_ORIGIN=http://localhost:5173
